@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto:wght@100&display=swap');


/*selector (etiqueta, class, id): propiedad
con un valor */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1069px){

    .gridContainer{
        display: grid;
        grid-template-areas: 
        "header nav nav nav"
        "texto texto texto texto"
        "iframe parrafo img img"
        "footer footer footer footer";
    }

    header{
        grid-area: header;
        text-align: left;
        background-color: rgb(124, 124, 250);
    }

    header img{
        width: 45%;
    }

    div.nav{
        grid-area: nav;
        background-color: rgb(227, 227, 253);
    }

    .nav ul{
        display: flex;
        justify-content:space-around;
    }

    li{
        padding: 3px;
        list-style-type: none;
        position: relative;
        top: 20px;
    }

    a{
      text-decoration: none;
      color: black;
      font-size: 1,5rem;
      font-family: sans-serif;
      font-weight: bolder ;
    }

    section.texto{
        grid-area: texto;
        align-self: center;
        text-align: center;
        font-family: sans-serif;
        font-size: 2rem;
        padding: 40px;
        transform: translate(10px,30px);
        height: 100px;
        transition: height(4s);
    }

    section.parrafo{
        grid-area: parrafo;
        align-self: center;
        text-align: center;
        font-family: sans-serif;
        font-size: 1rem;
        padding: 20px;
        animation-name: animar;
        animation-iteration-count:unset;
        animation-timing-function: ease-in-out;
        animation-duration: 10s;
        animation-delay: 2s;   
    }

    @keyframes animar{
        0%{width: 200px;}
        25%{width: 220px; transform: scale(1);}
        50%{width: 300px; background-color: rgb(245, 170, 170); transform: scale(1);}
        75%{width: 200px; transform: scale(1);}
        100%{width: 300px; background-color: rgb(99, 112, 99);}
    }

    section.img{
        grid-area: img;
        align-self: center;
        text-align: center;
        font-family: sans-serif;
        font-size: 2rem;
        padding: 30px;
    }    

    .box__fixed{
        width: 140px;
        height: 40px;
        background-color:lightgreen;
        position:fixed;
        bottom: 10px;
        right: 10px;
    }

    iframe{
        grid-area: iframe;
        align-self: center;
        text-align: center;
        font-family: sans-serif;
        font-size: 2rem;
        padding: 30px;
    }

    footer{
        margin-top: 10%;
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        align-items:center;
        background-color: rgb(222, 222, 250);
    }
    
    body{
        background-image: radial-gradient(circle, #f1f0f8, #dddbf7, #c6c7f6, #adb4f6, #8fa2f5);
    }
}

    @media only screen and  (max-width: 768px) {
        .gridContainer{
            display: grid;
            grid-template-areas: 
            "header header"
            "nav nav"
            "nav nav"
            "texto texto"
            "parrafo parrafo"
            "img img"
            "iframe iframe"
            "footer footer";
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto auto auto auto auto auto 12%;
        }

        header{
            grid-area: header;
            display: flex;
            justify-content: center;
            background-color:rgb(124, 124, 250); 
        }
        
        header img{
            width: 45%;
        }

        div.nav{
            grid-area: nav;
            width: 100%;
            background-color: rgb(227, 227, 253);
        }
    
        li{
            padding: 10px;
            list-style-type: none;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-family: sans-serif;
            font-weight: bolder ;
        }
      
        section.texto{
            grid-area: texto;
        }
          
        section.parrafo{
            grid-area: parrafo;
        }
      
        section.img{
            grid-area: img;
    
        }    
      
        .box__fixed{
            width: 80px;
            height: 40px;
            background-color:lightgreen;
            position:fixed;
            bottom: 10px;
            right: 10px;
        }
      
        iframe{
            grid-area: iframe;
            align-self: center;
            text-align: center;
            font-family: sans-serif;
            font-size: 2rem;
            padding: 30px;
        }
      
        footer{
            grid-area: footer;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            background-color: rgb(222, 222, 250)
        }
        
}

@media only screen and (min-width: 769px) and (max-width:1068px){

.gridContainer{
            display: grid;
            grid-template-areas: 
            "header header header"
            "nav nav nav"
            "texto texto texto"
            "parrafo img img"
            "iframe iframe iframe"
            "footer footer footer";
            grid-template-columns: auto auto auto;
            grid-template-rows: 10% auto 10% auto auto 12%;
        }

        header{
            grid-area: header;
            display: flex;
            justify-content: center;
            background-color:rgb(124, 124, 250); 
        }
        
        header img{
            width: 45%;
        }

        div.nav{
            grid-area: nav;
            width: 100%;
            background-color: rgb(227, 227, 253);
        }
    
        li{
            padding: 10px;
            list-style-type: none;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-family: sans-serif;
            font-weight: bolder ;
        }
      
        section.texto{
            grid-area: texto;
            display:flex;
            align-items: center;
            justify-content: center;
        }
          
        section.parrafo{
            grid-area: parrafo;
        }
      
        section.img{
            grid-area: img;
    
        }    
      
        .box__fixed{
            width: 80px;
            height: 40px;
            background-color:lightgreen;
            position:fixed;
            bottom: 10px;
            right: 10px;
        }
      
        iframe{
            grid-area: iframe;
            align-self: center;
            text-align: center;
            font-family: sans-serif;
            font-size: 2rem;
            padding: 30px;
        }
      
        footer{
            grid-area: footer;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            background-color: rgb(222, 222, 250)
        }
        
}


/*.gridContainer{
    display: grid;
    grid-template-areas: 
    "header nav nav nav nav nav nav"
    "texto texto
    "parrafo parrafo img img"
    "logotipos logotipos logotipos logotipos";
    grid-template-columns: 14,28% 14,28% 14,28% 14,28% 14,28% 14,28% 14,28%;
    grid-template-rows: auto;
}
nav{
    background-color: rgb(213, 213, 255);
    text-align: left;
    width: 13%;


    background-color: blue;
    display:flex;
    justify-content:space-around;
    list-style-type: none;
    display: inline-block;
    width: 14,5%;
    font-size: 130%;
    margin: 1%;
    padding: 10px 10px 10px 20px;
    background-color: rgb(196, 198, 250);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

}



/*li{
    display: inline-block;
    width: 14,5%;
    font-size: 130%;
    margin: 1%;
    padding: 10px 10px 10px 20px;
    background-color: rgb(196, 198, 250);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}
ul{
    list-style-type:none;
    position: absolute;
    top: 5px;
    right: 350px;
}

.texto{
    color:rgb(0, 54, 247);
    font-size: 150%;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 670px;
    text-align: center;
    font-family: Arial;
    
}

.parrafo{
    width: 200px;
    height: 300px;
    width: 20%;
    height: 150vh;
    height: 50%;
    margin-left: 300px;
    margin-top: 100px;
    overflow: auto;
    overflow: scroll;
    border: solid black;
    display: inline-block;
    background-color: rgb(205, 205, 255);
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-transform:lowercase;
}

.box__fixed{
    width: 190px;
    height: 40px;
    background-color:lightgreen;
    position:fixed;
    bottom: 10px;
    right: 10px;
}

.logotipos{
    margin-left: 600px;
    padding: 50px;
    
}

.links{

    height: 100px;
    justify-content: center;
    align-items: center;
 
        
}

.encabezado nav ul li a{
    text-decoration: none;
}

footer{
    margin-top: 5%;
    grid-area: footer;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    background-color: rgb(219, 219, 255);
}

/*.primerParrafo{
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align:justify;
    color:black;
    background-color:darksalmon;
}
*/

/*
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#padre>* {
    border: solid 1px black;
    font-size: 21px;
    padding: 5px

    
    

}

/*.grid{
    display: grid;
    background-color: rgb(250, 114, 114);
    border: 1px solid black;
    width: 95%;
    margin: auto;
    grid-template-columns: 100px 200px 100px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    /*
    .gridd{
        background-color: blueviolet;
        height: 50vh;
        /*alaign-content: start;*/
        /*display: grid;
        width: 95%;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-template-rows: 100px 100px;
        grid-row-gap: 10px;/*

    }/*

    .gridd div{
        border: solid 1px;
        font-size: 21px;
        padding: 5px;
        background-color: yellow;
        }
    
    .hijo3{
        justify-self: center;
    } 

    .box{
        height: 200px;
        background-color: chartreuse;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
        .box {
            background-color: black;
        }
        p{
            font-size: 5rem;
        }
        
    }

    p{
        font-size: 5rem;
        color: white;
    }

    <div class="contenedor">
    <img src="./img/casa.jpg" alt="logoDeUnaVivienda" width="400">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quos nisi velit esse rem sit? Temporibus doloremque facere laborum, 
        tempora cum eius, consectetur illum dolorum aperiam sint recusandae
         voluptatibus accusamus non?</p>
    <img src="./img/casa.jpg" alt="logoDeUnaVivienda" width="400">
</div>
<section>

    <section class="gridd">
        <div>Item 1</div>
        <div>Item 2</div>
        <div class="hijo3">Item 3</div>
        <div>Item 4</div>
    </section>

    <div class="box">
        <p>hola Mundo</p>

    </div>

    <div id="padre" class="grid">
        <div class="hijo_1">item 1</div>
        <div class="hijo_2">item 2</div>
        <div class="hijo_3">item 3</div>
        <div class="hijo_4">item 4</div>
        <h2 class="hijo_5">título</h2>
        <p class="hijo_6">parrafo</p>
    </div>

    <a href="">inicio1</a>
    <a href="">incio2</a>
    <a href="">inicio3</a>
    <a href="">inicio4</a>
    <a href="">inicio5</a>

    <h3>mapa</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d26214.283546370192!2d-58.428383801852554!
    3d-34.78617629639069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-34.7734016!2d-58.39196349999
    9996!4m5!1s0x95bcd3af9a221fd5%3A0xbbb877331be03a0a!2sAnt%C3%A1rtida%20Argentina%201779%2C%20B1836APA%20
    Llavallol%2C%20Provincia%20de%20Buenos%20Aires!3m2!1d-34.7986411!2d-58.4265273!5e0!3m2!1ses-419!2sar!4v165749
    5546969!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe> 
    <div class="contenedor">
    <img src="./img/casa.jpg" alt="logoDeUnaVivienda" width="400">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quos nisi velit esse rem sit? Temporibus doloremque facere laborum, 
        tempora cum eius, consectetur illum dolorum aperiam sint recusandae
         voluptatibus accusamus non?</p>
    <img src="./img/casa.jpg" alt="logoDeUnaVivienda" width="400">
</div>
<section>

    <section class="gridd">
        <div>Item 1</div>
        <div>Item 2</div>
        <div class="hijo3">Item 3</div>
        <div>Item 4</div>
    </section>

    <div class="box">
        <p>hola Mundo</p>

    </div>

    <div id="padre" class="grid">
        <div class="hijo_1">item 1</div>
        <div class="hijo_2">item 2</div>
        <div class="hijo_3">item 3</div>
        <div class="hijo_4">item 4</div>
        <h2 class="hijo_5">título</h2>
        <p class="hijo_6">parrafo</p>
    </div>

    <a href="">inicio1</a>
    <a href="">incio2</a>
    <a href="">inicio3</a>
    <a href="">inicio4</a>
    <a href="">inicio5</a>

    <h3>mapa</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d26214.283546370192!2d-58.428383801852554!
    3d-34.78617629639069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-34.7734016!2d-58.39196349999
    9996!4m5!1s0x95bcd3af9a221fd5%3A0xbbb877331be03a0a!2sAnt%C3%A1rtida%20Argentina%201779%2C%20B1836APA%20
    Llavallol%2C%20Provincia%20de%20Buenos%20Aires!3m2!1d-34.7986411!2d-58.4265273!5e0!3m2!1ses-419!2sar!4v165749
    5546969!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe> 

    <section>
            <H2>TABLAS</H2>
            <table border="1" cellspacing cellpading> 
                <tr>
                    <td>Código</td>
                    <td>Descripción de la propiedad</td>
                    <td>Dirección</td>
                    <td>Valor</td>
                </tr>
                <tr>
                    <td>0128</td>
                    <td>Departamento en Venta</td>
                    <td>Sarmiento 239</td>
                    <td>USD 120.000</td>
                </tr>
            </table>
        </section>
    

    
    

